@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&display=swap');

.flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
	@media screen and ( min-width: 600px ) {
		justify-content: center;
	}
}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: center;
	@media screen and ( min-width: 600px ) {
		grid-template-columns: 300px 1fr;
	}
}

body {
	min-width: 320px;
	overflow-x: hidden;
	font-family: "Noto Sans JP", sans-serif;
	background: rgb(188, 232, 250);
	box-sizing: border-box;
	> header {
		text-align: center;
		padding-bottom: 32px;
		margin-block: 32px;
		background-color: rgb(188, 232, 250);
		position: sticky;
		top: 0;
		z-index: 1;
		h1 {
			font-family: "Josefin Sans", serif;
		}
		article {
			> .group {
				line-height: 32px;
				label {
					font-weight: bold;
				}
			}
		}
	}
	> main {
		display: grid;
		/* height: 100vh; */
		place-content: start center;
	}
	> header,
	> main {
		padding-inline: 10px;
		margin-inline: auto;
		padding: 0 16px;
		@media screen and ( min-width: 600px ) {
		}
		.number {
			width: 48px;
			margin-inline: 8px;
			padding: 4px 8px;
			font-size: 16px;
		}
		.result {
			font-size: 24px;
			font-weight: bold;
			margin-inline: auto 0;
		}
		.reset {
			padding: 4px 8px;
			margin-left: 24px;
			font-size: 16px;
			display: block;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			padding: 8px 16px;
			border: 0;
			border-radius: 4px;
			border-bottom: 4px solid #0686b2;
			background-color: #27acd9;
			color: #fff;
			&:hover,
			&:active {
				margin-top: 3px;
				border-bottom: 1px solid #0686b2;
				color: #fff;
			}
			@media screen and ( min-width: 600px ) {
			}
		}
		.contents {
			width: 100vw;
			/* padding-bottom: 128px; */
			/* overflow: auto; */
			display: grid;
			place-content: start center;
			.contents__data {
				list-style: none;
				@media screen and ( min-width: 600px ) {
					width: 400px;
				}
				dt,
				dd {
					padding-block: 8px
				}
				dt {
					text-align: right;
					display: flex;
					flex-direction: column;
					align-items: center;
					font-size: 14px;
					@media screen and ( min-width: 600px ) {
						flex-direction: row;
						font-size: 16px;
					}
					> a {
						position: relative;
						&::before {
							content: "";
							width: 20px;
							height: 20px;
							background-image: url( ../img/link.png );
							background-repeat: none;
							background-size: cover;
							display: block;
							position: absolute;
							right: 4px;
							bottom: 12px;
							@media screen and ( min-width: 600px ) {
								right: 12px;
							}
						}
						img {
							transition: all 0.3s;
							opacity: 1;
						}
						&:hover {
							img {
								opacity: 0.7;
							}
						}
					}
				}
			}
			dd {
				text-align: left;
			}
			img {
				width: 80px;
				height: 80px;
				padding: 8px;
				margin-bottom: 4px;
				background-color: white;
				object-fit: contain;
				@media screen and ( min-width: 600px ) {
					margin-right: 8px;
					margin-bottom: 0;
				}
			}
		}
	}
	footer {
		text-align: center;
		font-size: 14px;
	}
}
