@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans+JP:wght@100..900&display=swap');

body {
	min-width: 375px;
	overflow-x: hidden;
	font-family: "Noto Sans JP", sans-serif;
	background: rgb(188, 232, 250);
	header {
		font-family: "Josefin Sans", serif;
		text-align: center;
		margin-block: 32px;
	}
	> main {
		display: grid;
		place-content: center;
	}
	> header,
	> main {
		padding-inline: 10px;
		margin-inline: auto;
		@media screen and ( min-width: 600px ) {
		}
		.number {
			width: 48px;
			margin-inline: 8px;
			padding: 4px 8px;
			font-size: 16px;
		}
		.result {
			font-size: 24px;
			font-weight: bold;
			margin-inline: auto 0;
		}
		.reset {
			padding: 4px 8px;
			margin-left: 24px;
			font-size: 16px;
			display: block;
			font-size: 14px;
			font-weight: bold;
			text-align: center;
			text-decoration: none;
			padding: 8px 16px;
			border: 0;
			border-radius: 4px;
			border-bottom: 4px solid #0686b2;
			background-color: #27acd9;
			color: #fff;
			&:hover,
			&:active {
				margin-top: 3px;
				border-bottom: 1px solid #0686b2;
				color: #fff;
			}
			@media screen and ( min-width: 600px ) {
			}
		}
	}
}

.flex {
	display: flex;
	align-items: center;
	justify-content: space-between;
	@media screen and ( min-width: 600px ) {
		justify-content: center;
	}

}

.list {
	list-style: none;
	display: grid;
	grid-template-columns: 200px 1fr;
	> .first {
		margin-left: 16px;
		line-height: 48px;
	}
	dt {
		text-align: right;
	}
	dd {
		text-align: left;
	}
}
